{% extends 'base.html.twig' %}

{% block title %}Bienbenido a la página de inicio de sesión{% endblock %}

{% block body %}

    {% include 'partials/public/_public-nav.html.twig' %}
    {% include 'partials/_flash_messages.html.twig' %}
    <div class="login-container">
        <div class="row text-center mt-4">
            {% include 'partials/public/_presentation-form.html.twig' %}
            <div class="col-md-6 d-flex justify-content-center align-items-center form-login">
                <div class="row mt-3 mb-3">
                    <div class="form-login-head">
                        <h3>auren</h3>
                        <p>Formulario de inicio de sesión</p>
                    </div>
                    <div class="form-login-body ">
                        <form action="{{ path('app_login') }}" method="post">
                            <div class="form-group">
                                <label for="username">Email</label>
                                <input type="email" class="form-control" id="username" name="_username" aria-describedby="emailHelp" placeholder="email@test.com" value="{{ last_username }}">
                            </div>
                            <div class="form-group">
                                <label for="password">Contraseña</label>
                                <input type="password" class="form-control" id="password" name="_password" placeholder="Contraseña">
                            </div>
                            <button type="submit" class="btn btn-primary mt-2">Login</button>
                            <input type="hidden" name="_target_path" value="/admin">

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
