.login-container{
    width: 80%;
    height: 80vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
}

.presentation{
    background-color: #e2231a;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
    height: 80vh;
}
.presentation h2, .presentation p{
    color: #fff;
}

.form-login{
    background-color: #ffe9e8;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;

}

.nav-home-auren{
    background-color: #e2231a;
    -webkit-box-shadow: 0 8px 6px -6px rgba(226,35,26,0.3);
    -moz-box-shadow: 0 8px 6px -6px rgba(226,35,26,0.3);
    box-shadow: 0 8px 6px -6px rgba(226,35,26,0.3);
}

.nav-home-auren a, .nav-home-auren p{
    color: #fff!important;
}

.nav-home-auren a:hover{
    color: #0a0a0a!important;
    transition: 0.5s;
}

#countriesTable tr:nth-child(odd) {
    background-color: #f2f2f2;
}

#countriesTable tr:nth-child(even) {
    background-color: #ffffff;
}

.form-register-auren ul li{
    color:  #e2231a;
}