<div class="col-md-6 d-flex align-items-center justify-content-center presentation">
    <div class="body-presentation">
        <h2>Prueba técnica auren</h2>
        <p>Prueba técnica para consultar y editar información sobre países.</p>
    </div>
</div>